.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 0% 0% 1.23%
    }
.calibre3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.23%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre5 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.62%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre7 {
    color: #00f;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre8 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.calibre9 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.62%;
    margin-left: 3.08%;
    margin-top: 0%
    }
.calibre10 {
    font-size: 1em;
    letter-spacing: 0.25rem;
    line-height: 1.2
    }
.calibre11 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 16.03%
    }
.calibre12 {
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 1.85%;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.calibre13 {
    color: #365f91;
    font-size: 1em;
    line-height: 1.2
    }
.calibre14 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0% 0% 0.62%
    }
.calibre15 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.23%;
    margin-left: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre16 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 100%
    }
.calibre17 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.23%;
    margin-left: 3.08%;
    margin-top: 0%
    }
.calibre18 {
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre19 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 46.96%
    }
.calibre20 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0% 0% 0.62%
    }
.calibre21 {
    -aw-bookmark-end: _17dp8vu
    }
.calibre22 {
    -aw-bookmark-end: _2jxsxqh
    }
.calibre23 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 80.77%
    }
.calibre24 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 64.42%
    }
.calibre25 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 62.02%
    }
.calibre26 {
    -aw-bookmark-end: _3whwml4
    }
.calibre27 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 78.04%
    }
.calibre28 {
    -aw-bookmark-end: _Hlk40010165
    }
.calibre29 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.62%;
    margin-left: 7.69%;
    margin-top: 0%
    }
.calibre30 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.23%;
    margin-left: 7.69%;
    margin-top: 0%
    }
.calibre31 {
    color: #f00;
    font-size: 1em;
    line-height: 1.2
    }
.calibre32 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre33 {
    -aw-bookmark-end: _2u6wntf
    }
.calibre34 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 90.71%
    }
.calibre35 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 58.97%
    }
.calibre36 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 61.22%
    }
.calibre37 {
    -aw-bookmark-end: _46r0co2
    }
.calibre38 {
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 0.93%;
    margin-left: 0%;
    margin-top: 0%;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.calibre39 {
    color: #15c
    }
.calibre40 {
    color: #15c;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre41 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre42 {
    font-size: 1em;
    line-height: 1.2;
    text-decoration: none
    }
.calibre43 {
    -aw-bookmark-end: _6nlxukso9w6a
    }
.calibre44 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0% 0% 0.62%
    }
.calibre45 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 67.95%
    }
.calibre46 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 61.38%
    }
.calibre47 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 87.18%
    }
.calibre48 {
    -aw-bookmark-end: _sun8v9qodzpw
    }
.calibre49 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 93.27%
    }
.calibre50 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 91.35%
    }
.calibre51 {
    font-size: 0.75em
    }
.calibre52 {
    -aw-bookmark-end: _g504r4qoc1ax
    }
.calibre53 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 57.53%
    }
.calibre54 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 85.58%
    }
.calibre55 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 78.85%
    }
.calibre56 {
    -aw-bookmark-end: _y00mkxbjvrmc
    }
.calibre57 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 81.89%
    }
.calibre58 {
    -aw-bookmark-end: _h6f8pki3y3uo
    }
.calibre59 {
    -aw-bookmark-end: _iiaijtjmqsid
    }
.calibre60 {
    color: #22863a;
    font-size: 1em;
    line-height: 1.2
    }
.calibre61 {
    color: #032f62;
    font-size: 1em;
    line-height: 1.2
    }
.calibre62 {
    color: #005cc5;
    font-size: 1em;
    line-height: 1.2
    }
.calibre63 {
    font-size: 1em;
    font-style: italic;
    letter-spacing: 0.25rem;
    line-height: 1.2
    }
.calibre64 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 90.22%
    }
.calibre65 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 83.65%
    }
.calibre66 {
    -aw-bookmark-end: _3ygebqi
    }
.calibre67 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 87.98%
    }
.calibre68 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 94.55%
    }
.calibre69 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 85.42%
    }
.calibre70 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 34.46%
    }
.calibre71 {
    -aw-bookmark-end: _2r0uhxc
    }
.calibre72 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 79.01%
    }
.calibre73 {
    -aw-bookmark-end: _1664s55
    }
.calibre74 {
    -aw-bookmark-end: _kgcv8k
    }
.calibre75 {
    -aw-bookmark-end: _1jlao46
    }
.calibre76 {
    -aw-bookmark-end: _1x0gk37
    }
.calibre77 {
    -aw-bookmark-end: _4h042r0
    }
.calibre78 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 69.87%
    }
.calibre79 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 72.6%
    }
.calibre80 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 73.88%
    }
.calibre81 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 71.79%
    }
.calibre82 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre83 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 83.01%
    }
.calibre84 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 84.94%
    }
.calibre85 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 64.9%
    }
.calibre86 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 83.81%
    }
.calibre87 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 70.03%
    }
.calibre88 {
    -aw-bookmark-end: _nvevxeaps9n9
    }
.calibre89 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 48.4%
    }
.calibre90 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 76.12%
    }
.calibre91 {
    -aw-bookmark-end: _3ep43zb
    }
.calibre92 {
    -aw-bookmark-end: _g8hlml8jm91b
    }
.calibre93 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.54%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre94 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 69.39%
    }
.calibre95 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.calibre96 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 51.92%
    }
.calibre97 {
    -aw-bookmark-end: _184mhaj
    }
.calibre98 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 38.14%
    }
.calibre99 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 76.92%
    }
.calibre100 {
    font-size: 0.75em;
    vertical-align: sub
    }
.calibre101 {
    font-size: 0.75em;
    vertical-align: super
    }
.calibre102 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 86.7%
    }
.calibre103 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 85.26%
    }
.calibre104 {
    -aw-bookmark-end: _p8pu3dbz15ah
    }
.calibre105 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 82.69%
    }
.calibre106 {
    -aw-bookmark-end: _wl1b674j9gj8
    }
.calibre107 {
    -aw-bookmark-end: _Hlk43307522
    }
.calibre108 {
    -aw-bookmark-end: _dyp7714uwe0s
    }
.calibre109 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 87.66%
    }
.calibre110 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 83.49%
    }
.calibre111 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 94.39%
    }
.calibre112 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 79.65%
    }
.calibre113 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 74.68%
    }
.calibre114 {
    -aw-bookmark-end: _srz0nu4dmw4d
    }
.calibre115 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 76.76%
    }
.calibre116 {
    -aw-bookmark-end: _94eb7lx6g323
    }
.calibre117 {
    color: #15c;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre118 {
    -aw-bookmark-end: _pb0qll43erwq
    }
.calibre119 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 73.4%
    }
.calibre120 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1.23%;
    margin-left: 0%;
    margin-top: 1.23%;
    text-align: center
    }
.calibre121 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 60.42%
    }
.calibre122 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 80.13%
    }
.calibre123 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 82.05%
    }
.calibre124 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 78.21%
    }
.calibre125 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 49.52%
    }
.calibre126 {
    font-size: 0.75em;
    font-weight: bold
    }
.calibre127 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 93.75%
    }
.calibre128 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 61.86%
    }
.calibre129 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 63.46%
    }
.calibre130 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 58.33%
    }
.calibre131 {
    -aw-bookmark-end: _p6yzmeosr3i6
    }
.calibre132 {
    -aw-bookmark-end: _rjefff
    }
.calibre133 {
    font-size: 0.75em;
    font-weight: normal
    }
.calibre134 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 67.79%
    }
.calibre135 {
    -aw-bookmark-end: _pl1k3o9uxmw
    }
.calibre136 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 59.46%
    }
.calibre137 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 50%
    }
.calibre138 {
    -aw-bookmark-end: _338fx5o
    }
.calibre139 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 75%
    }
.calibre140 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 42.15%
    }
.calibre141 {
    -aw-bookmark-end: _3u2rp3q
    }
.calibre142 {
    -aw-bookmark-end: _2981zbj
    }
.calibre143 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 85.1%
    }
.calibre144 {
    -aw-bookmark-end: _ixzamyy8fbmx
    }
.calibre145 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 72.12%
    }
.calibre146 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 79.81%
    }
.calibre147 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 94.23%
    }
.calibre148 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.25rem;
    line-height: 1.2
    }
.calibre149 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 74.52%
    }
.calibre150 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 65.71%
    }
.calibre151 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 84.29%
    }
.calibre152 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 80.45%
    }
.calibre153 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 88.14%
    }
.calibre154 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 84.13%
    }
.calibre155 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 92.63%
    }
.calibre156 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 91.03%
    }
.calibre157 {
    background-color: #d9d9d9;
    font-size: 1em;
    line-height: 1.2
    }
.calibre158 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 54.17%
    }
.calibre159 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 84.46%
    }
.calibre160 {
    color: #00c;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre161 {
    color: #67ab9f;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre162 {
    color: #99004d;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
.calibre163 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 75.96%
    }
.calibre164 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 99.68%
    }
.calibre165 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 95.99%
    }
.calibre166 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 64.1%
    }
.calibre167 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 82.53%
    }
.calibre168 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 97.44%
    }
.calibre169 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 79.97%
    }
.calibre170 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 88.46%
    }
.calibre171 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 37.98%
    }
.calibre172 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 41.35%
    }
.calibre173 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 54.01%
    }
.calibre174 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 88.94%
    }
.calibre175 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 43.27%
    }
.calibre176 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 89.26%
    }
.calibre177 {
    color: #00f;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre178 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 34.13%
    }
.calibre179 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 84.78%
    }
.calibre180 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 62.5%
    }
.calibre181 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 71.63%
    }
.calibre182 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 62.66%
    }
.calibre183 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 97.28%
    }
.calibre184 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 93.11%
    }
.calibre185 {
    -aw-bookmark-end: _Hlk42512898
    }
.calibre186 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 3.7% 0% 0.93%
    }
.calibre187 {
    display: block;
    margin-bottom: 1.54%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre188 {
    color: #00f;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre189 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre190 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 30.61%
    }
.calibre191 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre192 {
    color: #15c;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre193 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 29.01%;
    border: currentColor none medium
    }
.calibre194 {
    -aw-left-pos: 0;
    -aw-rel-hpos: column;
    -aw-rel-vpos: paragraph;
    -aw-top-pos: 0;
    -aw-wrap-type: inline;
    height: auto;
    width: 29.49%
    }
.calibre195 {
    color: #00f;
    font-size: 1em;
    line-height: 1.2
    }
.calibre196 {
    -aw-bookmark-end: _Hlk43308456
    }
